*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
h1{
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    color: #e74c3c;
}
.table{
  border-collapse:collapse ;
  font-size: 20px;
  min-width: 600px;
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  
  
   
}
.table thead th{
    padding: 12px 15px;
    background-color: #2c3e50;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;  
    text-align:left;
    user-select: none;
    cursor: pointer;
    text-align: center;
    
}
.table tbody td{
    padding: 12px 15px;
   border-bottom: 1px solid #95a5a6;
   color:#57606f;
   transition: all 0.2s linear;
   user-select: none;
   cursor: pointer;
   text-align: center;
  
   
}

.table tbody td:hover{
    color:#353b48 ;
}
.table tbody tr:nth-last-of-type(even){
    background-color: #dfe4ea;
}

.table thead th:hover{
    background-color:#747d8c;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #2c3e50;
}