*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 200px auto;
    border-radius: 20px;
    background-color: #ddd;
}
.box .content{
    padding: 10px;
    margin-right: 100px;
    margin-top: -100px;
    
}
.box .content .tag{
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
}

.box .content  span{
    font-weight: bold;
    font-size: 40px;
    color: #333;
    letter-spacing: 1px;
}