*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 200px auto;
    border-radius: 20px;
    background-color: #ddd;
}
.box .content{
    padding: 10px;
    margin-right: 100px;
    margin-top: -100px;
    
}
.box .content .tag{
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    letter-spacing: 1px;
}

.box .content  span{
    font-weight: bold;
    font-size: 40px;
    color: #333;
    letter-spacing: 1px;
}
  .box .btn-box{
    
    padding: 20px;
    margin-right: 20px;
    display: flex;
    margin-bottom: -100px;

}
.btn-1{
    background-color: #ddd;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: #333;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    
}

 
.btn-2{
    background-color: #ddd;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: #333;
    border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

 