*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav nav nav'
    'sidebar content aside'
    'footer footer footer'
    ;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 100px 1fr 100px;
    
}
header,
nav,
.one,
main,
aside,
footer{
     background-color: white;
    
    padding: 20px;
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    
}
header{
    grid-area: header;
    background-color:wheat;
    
    
}
nav{
    grid-area: nav;
   
}
.one{
    grid-area: sidebar;
    background-color: white;
    
   
}
main{
    grid-area: content;
    background-color:white;
    color: #333;
   
}
footer{
    grid-area: footer;
    background-color: chocolate;
}
aside{
    grid-area:aside;
  background-color: dodgerblue;
}

a{
    text-decoration: none;
     color: white;  
    
    
}
ul li{
    list-style: none;
      float: left;
      margin: 30px;
    
}
nav{
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    
   
}
nav ul :hover{
    color: orangered;
    transition: 0.5s linear;
}
.active{
    color: orangered;
    padding-bottom: 3px;
}
header{
    font-size: 20px;
    color: #333;
    text-transform: uppercase;

}
main p{
    padding: 20px;
    line-height: 20px;
    color: white;
    
}
.title{
    color: white;
     padding: 10px; 
    background-color: #333;
    border-radius: 10px ;
    display: block;
   
    
    
    
    
    
   

}
.content{
     max-height: 0px;
    overflow: hidden;
  
    /* padding: 20px; */
    border: 2px solid white;
   
    
}
.content:target{
    max-height: 150px;
    transition: 0.5s linear;
    background-color:#767d8c;
    border-radius: 20px;
}

.action{
    background-color: orangered;
    padding: 10px;
    border-radius: 20px;
}
.action:hover{
    color: white;
}

.box-ro{
    width: 150px;
    height: 150px;
    background-color: violet;
    margin:40px auto;
    border-radius: 20px;
    transition: all 1s linear;
}
.box-ro:hover{
    transform: rotate(360deg);
    transition: 1s linear;
    background: linear-gradient(purple,pink,violet);
    border-radius: 50%;  
}
footer{
    background-color: black;
     display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
.socialicons a{
    font-size: 40px;
    margin: 25px;
    color:white;
    padding: 5px;
   
    
    
   
}
.socialicons a:hover{
    background-color: white;
    transition: 0.2s linear;
    color: black;
    border-radius: 50%;
}
.sociallinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.link{
    margin:20px;
}
h1{
    color: purple;
    background-color: white;
    border-radius: 20px;
    padding: 5px;

}
h1:hover{
    color: red;
    transition: 0.2s linear;
}
.one a{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
   
    text-transform: capitalize;
   
  
    
}
.one{
   border: 2px solid white;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
    border: 2px solid black;
}
ul li{
    list-style: none;
    padding: 10px;
    
    
}
.one ul{
  
    display: flex;
    flex-direction: column;
    

}
aside ul{
    display: flex;
    flex-direction: column;
    
   
    
   
    
}
aside a{
    color: #333;
   
    
    
}
aside{
     background-color: aliceblue;
     border: 2px solid black;
     border-radius:10px ;
    
    
     
}

