*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid dodgerblue;
    font-size: 30px;
    font-family: 'poppins';
    font-weight: 500;
    background:transparent;
    color: #fff;
    position: relative;
}

span{
    position: absolute;
    background-color:dodgerblue;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}