*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  background-image: linear-gradient(to right bottom, #3f2cc1, #5428b7, #6224ae, #6c21a4, #741f9b);
    background-size: 400% 400%;
    animation: animate 2s ease infinite;
} 
.btn{
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border:2px solid #00b7ff;
    padding: 6px 15px;
    font-size: 30px;
    font-family: 'poppins';
    font-weight: bold;
    position: relative;
    background: transparent;
    color: #00b7ff;
    
    
    
}
.span{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #00b7ff;
    left: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
    z-index: -1;
  
}
.btn:hover .span{
    width: 100%;
   
}
.btn:hover{
    color: #fff;
   
}

@keyframes animate{
    0%{
        background-position:0% ;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
        }
}