*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

 .box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-height: 200px;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 200px  auto;
    padding: 20px;
}
button{
    width: 250px;
    height: 40px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
}
.one{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #333;
    letter-spacing: 0.5px;
}
.two{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     color: #000;
     background-color: transparent;
     position: relative;
     border: 2px solid black;
}
.three{
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     color: #000;
     background-color:transparent ;
     position: relative;
     border: 2px solid #0652DD;
}
.two span{
    width: 0%;
    height: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}
.two:hover span{
    width: 100%;
}
.two:hover{
    color: #fff;
}
.three span{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #0652DD;
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s;
}
.three:hover span{
    width: 100%;
}

.three:hover{
    color: #fff;
}


@media (max-width:700px){
    .box{
        max-height: 400px;
        max-width: 400px;

    }
}