*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 200px;
    margin: 200px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
button{
    width: 300px;
    height: 70px;
    background-color:rgb(15, 120, 224);
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.one{
    width: 40px;
    height: 40px;
    border: 4px solid #bdc3c7;
    margin: auto;
    border-radius: 50%;
    /* border-top:4px solid #fff ; */
    border-right: 4px solid #fff;
    animation:  move 2s ease-in-out infinite;
}

@keyframes move{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}