*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.btn{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width: 600px;
    max-height: 200px;
    margin: 200px auto;
    
}
.box-2{
    
 position: relative;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

 
}

button{
    
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color:#0652DD ;
   position: relative;
   
}
.one{
   
    border: 3px solid red;
    width: 35px;
    height: 25px;
    z-index: 1;
    background-color: red;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    position: absolute;
    right: -10px;
    top: -10px;
    outline:  3px solid #fff;
    color: #fff;
    font-weight: 600;
    
    
    
}