*{
    padding: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.box{
    width: 100%;
    height: 100vh;
    max-width: 700px;
    max-height: 450px;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    position: relative;
    font-size: 16px;
    
}
.svg{
    position: absolute;
    bottom: 40px;
    right: 50px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px 12px;
    border-radius: 1000%;
    background-color: #e84118;

}
.svg i{
    color: #fff;
   
}