*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    background-size: 400% 400%;
    justify-content: center;
    align-items: center;
    animation:  animate 5s linear infinite;
}
.container{
    width: 650px;
    height: 420px;
    display: flex;
    overflow: hidden;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 5px;
     background-color: #fff;
}

.product-img{
    width: 320px;
    height: 450px;
}

.product-img img{
    width: 100%;
    height: 100%;
}
.product-info{
    margin: 30px 30px;
    flex: 1;
     
}
.product-text h1{
    margin: 0 10px;
    font-weight: 600;
    color:#1e3799 ;
    text-transform: uppercase;
}
.product-text h2{
    margin: 0 20px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    padding-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.product-text p{
    margin: 10px 10px;
    line-height: 28px;
   
}
.product-btn{
    margin: 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-btn span{
    font-weight: 600;
    font-size: 18px;
}
.product-btn button{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color:#1e3799;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .5s;
}
.product-btn button:hover{
    background: transparent;
    color: #1e3799;
    border: 1px solid #1e3799;
}

@keyframes animate{
    from{
        background-position: 0;
    }
    to{
        background-position: 100%;
    }
}

