html{
    background-color: #ddd;
}

body{
    width: 800px;
    height: 800px;
    border: 4px solid black;
    margin: 10px auto;
}
.row{
    width: 100%;
    height: 100px;
    float: left;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
    background-color: chocolate;
}

.black{
    width: 100px;
    height: 100px;
   background-color: wheat;

}