*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'poppins';
}
p{
    text-align: center;
}
p::selection{
    background-color: red;
    color: white;
   
}
h1::selection{
    background-color: #487eb0;
    color: white;
}