*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin:  50px auto;
}
.rating{
    border: 2px solid #ccc;
    width: 600px;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}
.rating .para-1{
 position: absolute;
 top: -11px;
 background-color: #fff;
 padding: 0px  13px;
 font-size: 16px;
 font-weight: 600;
}
.sat{
    margin-top: 50px;
    border: 2px solid #ccc;
    width: 600px;
    height: 150px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.sat .para-2{
    position: absolute;
    top: -12px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding:  0px 10px;
}
.sat ul li{
    list-style: none;
    line-height: 30px;
    padding: 2px 15px;
    font-weight: 500;
    
}
.comment{
 border: 2px solid #ccc;
 width: 600px;
 height: 200px;
 margin-top: 50px;
 border-radius: 5px;
 position: relative;
}

.comment .para-3{
    padding: 10px;
    position: absolute;
    top: -10px;
    background-color: #fff;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 600;
}
.comment textarea{
    padding: 10px;
    margin: 40px 20px;
    outline: none;
    max-width: 550px;
    max-height: 120px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 1px;
}
.btn{
    margin-top: 50px;
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    color: #000;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    position: relative;
}

.btn span{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: dodgerblue;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: -1;
    transition: 0.5s;
}
.btn:hover span{
    width:100%;
}
.btn:hover{
    color: #fff;
}
.box-2{
    width: 100%;
    height: 100vh;
    max-width: 650px;
    border: 2px solid #ccc ;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}