*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
img{
    width: 80px;
    
}
.box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 400px;
    min-height:400px ;
     padding: 32px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    user-select: none;
}
.form img{
    display: block;
    margin: auto;
}
.form .form-title{
  font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;

}
.form-group{
    position: relative;
    margin-bottom: 20px;
    height: 48px;
}
.form-control{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background:none;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 3px;
    z-index: 1;
    padding: 16px;
    

}
 .form-label{
 position: absolute;
 left: 13px;
 top: 13px;
 color: #a1a1a1;
 background-color: #fff;
 transition: .5s;
 padding: 0 6px;
 font-size: 14px;
}
.form-control:focus + .form-label{
    top: -10px;
    z-index: 2;
    color:#3742fa ;
    font-weight: 600;
}
.form-control:focus{
    border: 1px solid #3742fa;
}
.form-control:not(:focus):valid+.form-label{
    top: -10px;
    z-index: 3;
   
   
    
}
.form-group .show-label{
    font-size: 14px;
}
.bottom-box{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.bottom-box a{
    text-decoration: none;
    color: #3742fa;
}
.bottom-box .btn{
    padding: 6px 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    background-color: #3742fa;
    color: #fff;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

