*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
.card{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 100px auto;
    border-radius: 20px;

    
}
.card .product{
   background-color: #3498db;
width: 100%;
height: 200px;
padding: 50px;
border-radius: 10px;
}
.card .product .pro{
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
    
}
.card .content{
    background-color: #fff;
    width: 100%;
    padding: 100px;
    height: 200px;
    
}
.card .content .con-2 {
   
     margin-left: -50px;
     
}
.card .content{
    margin-bottom: 20px;
}
.card .content .con-2 p{
  text-transform: uppercase;
  color: #333;
  font-size: 13px;
}
.card .content .con-2 h3{
 font-size: 20px;
 font-weight: 600;
}
.card .content .con-2 span{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.card .btn{
    margin: auto;
    background-color:#0652DD;
    width: 350px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    
}