*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: 100vh;
     align-items: center;
     background-image: url(./image.jpg);
   
}
.form-container{
    background:transparent;
    padding: 10px;
     min-width: 300px;
     border: 2px solid rgba(225, 225, 225, .1);
     box-shadow: 0 0 10px rgba(0, 0, 0, .1);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     margin:auto;
   
   
}
.form-container form{
    
    font-size: 20px;
     padding: 10px 20px; 
     display: flex;
    flex-direction: column;
    align-items: center;
   
   
   
}
.form-container form div{
      width: 400px;
    padding: 5px;
     margin: 10px 40px;
     
}
.form-container form input{
    width: 100%;
    font-size: 1.4em;
    border-radius: 10px;
    cursor: pointer;
    background:linear-gradient(black,grey);
    text-align: center;
    color: whitesmoke;
    transition: all 0.2s linear;
}

.form-container form input:hover{
    font-size: 1.6em;
}


.form-container form ::placeholder{
    color: white;
    font-size: 17px;
}
.form-container form h3{
   text-align: center;
    padding-bottom: 3px;
    transition: all 0.2s linear;
}
.form-container form h3:hover{
    text-decoration: underline white;
    color: white;
    font-size: 20px;
}
.button{
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient( rgb(28, 199, 28),lightgreen);
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    margin: 10px;
    transition: all 0.5s linear;
    
}
.form-container form label{
   display: flex;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.2s linear;
    color: white;
   
}
.register-link{
    margin: 10px;
}
.register-link a{
    text-decoration: none;
    color: white;
    transition: all 0.2s linear;
}
.register-link a:hover{
    text-decoration: underline white;
}

.register-link p{
    
    cursor: pointer;
    text-align: center;
    font-weight: 300;
    color: white;
}
.button:hover{
    font-size: 20px;
}

